force-app/main/default/flows/How_to_experience_TMF_API.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>chCreateProductOrder</name>
        <choiceText>Create Product Order</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>chCreateTroubleTicket</name>
        <choiceText>Create Trouble Ticket</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>chCreateTroubleTicketNew</name>
        <choiceText>Create a trouble ticket</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>chGetProductOrder</name>
        <choiceText>Get Product Order by Id</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>chListallProductOrders</name>
        <choiceText>List Product Orders</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>chListallTroubleTickets</name>
        <choiceText>List all trouble tickets</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>chRetrieveTroubleTicket</name>
        <choiceText>Retrieve trouble ticket by Id</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateCatalog</name>
        <choiceText>Create Product Catalog</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CreateProductCatalog</elementReference>
        </value>
    </choices>
    <choices>
        <name>CreateCustomer</name>
        <choiceText>Create Customer</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateProductCatalog</name>
        <choiceText>Create Product Catalog</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateProductCategory</name>
        <choiceText>Create Product Category</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateProductOffering</name>
        <choiceText>Create Product Offering</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateProductOfferingPrice</name>
        <choiceText>Create Product Offering Price</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateProductSpecification</name>
        <choiceText>Create Product Specification</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CreateQuote</name>
        <choiceText>Create Quote</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>DeleteCustomer</name>
        <choiceText>Delete Customer</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>getallproducts_637</name>
        <choiceText>List all Products</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>getaproduct_637</name>
        <choiceText>Retrieve a Product</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>GetQuote</name>
        <choiceText>Get Quote</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ListCustomers</name>
        <choiceText>List Customers</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ListQuotes</name>
        <choiceText>List Quotes</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>RetrieveCustomer</name>
        <choiceText>Retrieve Customer</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>TMF620</name>
        <choiceText>TMF 620 Product Catalog Management</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>TMF621</name>
        <choiceText>TMF 621 Trouble Ticket Management</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>TMF622</name>
        <choiceText>TMF 622 Product Ordering</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>TMF629</name>
        <choiceText>TMF 629 Customer Management</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>TMF637</name>
        <choiceText>TMF 637 Inventory Management</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>TMF648</name>
        <choiceText>TMF 648 Customer Quote Management</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>UpdateCustomer</name>
        <choiceText>Update Customer</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Selection_of_Inbound_API</name>
        <label>Check Selection of Inbound API</label>
        <locationX>729</locationX>
        <locationY>832</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TMF_620</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdbtnInboundSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrTMF620</targetReference>
            </connector>
            <label>TMF 620</label>
        </rules>
        <rules>
            <name>TMF_621</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdbtnInboundSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrTMF621</targetReference>
            </connector>
            <label>TMF 621</label>
        </rules>
        <rules>
            <name>TMF_622</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdbtnInboundSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrTMF622</targetReference>
            </connector>
            <label>TMF 622</label>
        </rules>
        <rules>
            <name>TMF_637</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdbtnInboundSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrTMF637</targetReference>
            </connector>
            <label>TMF 637</label>
        </rules>
        <rules>
            <name>TMF_648</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdbtnInboundSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrTMF648</targetReference>
            </connector>
            <label>TMF 648</label>
        </rules>
        <rules>
            <name>TMF_629</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rdbtnInboundSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrTMF629</targetReference>
            </connector>
            <label>TMF 629</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Selection</name>
        <label>Check User Selection</label>
        <locationX>728</locationX>
        <locationY>1249</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Product_Catalog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Catalog</targetReference>
            </connector>
            <label>Selected Product Catalog</label>
        </rules>
        <rules>
            <name>Selected_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Catalog_0</targetReference>
            </connector>
            <label>Selected Category</label>
        </rules>
        <rules>
            <name>Selected_Product_Specification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Catalog_0_0</targetReference>
            </connector>
            <label>Selected Product Specification</label>
        </rules>
        <rules>
            <name>Selected_Product_Offering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Catalog_0_0_0</targetReference>
            </connector>
            <label>Selected Product Offering</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Selection_TMF_622</name>
        <label>Check User Selection TMF 622</label>
        <locationX>252</locationX>
        <locationY>832</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Product_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option622</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>List Product Orders</label>
        </rules>
        <rules>
            <name>Get_Product_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option622</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <label>Get Product Order</label>
        </rules>
        <rules>
            <name>Create_Product_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option622</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrCreateTroubleTicket_0</targetReference>
            </connector>
            <label>Create Product Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_your_selection629</name>
        <label>Check your selection</label>
        <locationX>268</locationX>
        <locationY>530</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Customers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option629</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrGetCustomers</targetReference>
            </connector>
            <label>Get Customers</label>
        </rules>
        <rules>
            <name>Create_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option629</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrCreateCustomer</targetReference>
            </connector>
            <label>Create Customer</label>
        </rules>
        <rules>
            <name>Retrieve_a_customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option629</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrRetrieveAccount</targetReference>
            </connector>
            <label>Retrieve a customer</label>
        </rules>
        <rules>
            <name>Delete_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option629</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrDeleteAccount</targetReference>
            </connector>
            <label>Delete Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_your_selection_621</name>
        <label>Check your selection 621</label>
        <locationX>1173</locationX>
        <locationY>831</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Trouble_Tickets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_Option621</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrGetAllTickets</targetReference>
            </connector>
            <label>Get Trouble Tickets</label>
        </rules>
        <rules>
            <name>Get_a_Trouble_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option622</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sceGetTroubleTicket</targetReference>
            </connector>
            <label>Get a Trouble Ticket</label>
        </rules>
        <rules>
            <name>Create_Trouble_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_Option621</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrCreateTroubleTicket</targetReference>
            </connector>
            <label>Create Trouble Ticket</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_your_selection_637</name>
        <label>Check your selection 637</label>
        <locationX>1175</locationX>
        <locationY>1015</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_a_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option637</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_getaproduct_637</targetReference>
            </connector>
            <label>Get a Product</label>
        </rules>
        <rules>
            <name>Get_all_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_option637</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scr_getallproduct_637</targetReference>
            </connector>
            <label>Get all Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_your_selection_648</name>
        <label>Check your selection 648</label>
        <locationX>260</locationX>
        <locationY>1026</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Quotes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_Option648</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrGetAllQuotes</targetReference>
            </connector>
            <label>List Quotes</label>
        </rules>
        <rules>
            <name>Get_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_Option648</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrGetAQuote</targetReference>
            </connector>
            <label>Get Quote</label>
        </rules>
        <rules>
            <name>Create_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_Option648</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrCreateQuote</targetReference>
            </connector>
            <label>Create Quote</label>
        </rules>
    </decisions>
    <description>Updated for 246 Release</description>
    <interviewLabel>How to experience TMF API {!$Flow.CurrentDateTime}</interviewLabel>
    <label>How to experience TMF API</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Catalog_Id</name>
        <label>Get Catalog Id</label>
        <locationX>738</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Inbound_API</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Catalog Wholesale Business</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_cmt__Catalog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_DIstribution</name>
        <label>Get Content Distribution</label>
        <locationX>736</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Catalog_Id</targetReference>
        </connector>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Content_Document.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>736</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_DIstribution</targetReference>
        </connector>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TMF- Create Catalog</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Product_Catalog</name>
        <label>Product Catalog</label>
        <locationX>1054</locationX>
        <locationY>1245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Product_Catalog_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Catalog_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateCatalogImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CreateCatalog</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>460</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Catalog_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateCatalog</name>
                    <fieldText>&lt;p>&lt;strong style="font-size: 16px;">Sample Payload to create Catalog&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;strong style="font-size: 16px;">&lt;span class="ql-cursor">﻿&lt;/span>&lt;/strong>{&lt;/p>&lt;p>&amp;nbsp;"name": "Catalog Wholesale Business",&lt;/p>&lt;p>&amp;nbsp;"description": "Sample Catalog for demo purpose",&lt;/p>&lt;p>&amp;nbsp;"catalogType": "ProductCatalog",&lt;/p>&lt;p>&amp;nbsp;"version": "1.0",&lt;/p>&lt;p>&amp;nbsp;"validFor": {&lt;/p>&lt;p class="ql-indent-1">&amp;nbsp;&amp;nbsp;                    "startDateTime": "2020-08-29T00:00:00Z",&lt;/p>&lt;p class="ql-indent-1">&amp;nbsp;&amp;nbsp;                    "endDateTime": "2024-03-25T00:00:00Z"&lt;/p>&lt;p class="ql-indent-2">             &amp;nbsp;},&lt;/p>&lt;p>&amp;nbsp;"lifecycleStatus": "Active",&lt;/p>&lt;p>&amp;nbsp;"@type": "Catalog",&lt;/p>&lt;p>"relatedParty": [&lt;/p>&lt;p class="ql-indent-2">                            {&lt;/p>&lt;p class="ql-indent-2">                              "id": "012345678",&lt;/p>&lt;p class="ql-indent-2">                              "name": "Stardust Enterprises",&lt;/p>&lt;p class="ql-indent-2">                              "role": "Business",&lt;/p>&lt;p class="ql-indent-2">                              "@referredType": "Account",&lt;/p>&lt;p class="ql-indent-2">                              "@type": "RelatedParty"&lt;/p>&lt;p class="ql-indent-2">                           }&amp;nbsp;&lt;/p>&lt;p class="ql-indent-1">                          ]&lt;/p>&lt;p>    }&lt;/p></fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Catalog_0</name>
        <label>Product Catalog</label>
        <locationX>346</locationX>
        <locationY>1243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Product_Catalog_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Catalog_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateCategory</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>Category</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>540</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Catalog_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateCatalog_0</name>
                    <fieldText>&lt;p>&lt;strong style="font-size: 16px;">Sample Payload to create Category&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;u style="font-size: 12px;">{&lt;/u>&lt;/p>&lt;p>&lt;span style="font-size: 12px;">&amp;nbsp;"description": "Specifies a category to hold all available cloud service offers.",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 12px;">&amp;nbsp;"lifecycleStatus": "Active",&amp;nbsp;&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 12px;">&amp;nbsp;"name": "Cloud Services",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 12px;">"validFor": {&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">&amp;nbsp;&amp;nbsp;"startDateTime": "2020-08-24T00:00:00Z",&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">&amp;nbsp;&amp;nbsp;"endDateTime": "2024-03-25T00:00:00Z"&lt;/span>&lt;/p>&lt;p class="ql-indent-2">&lt;span style="font-size: 12px;">&amp;nbsp;},&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 12px;">"relatedParty": [&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">{&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">"id": "012345678",&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">"name": "Stardust Enterprises",&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">"role": "Business",&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">"@referredType": "Account",&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">"@type": "RelatedParty"&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">}&lt;/span>&lt;/p>&lt;p class="ql-indent-2">&lt;span style="font-size: 12px;">]&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 12px;">&amp;nbsp;"isRoot": true,&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 12px;">&amp;nbsp;"subCategory": [&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">&amp;nbsp;&amp;nbsp;{&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"name": "Cloud Storage",&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"@type": "CategoryRef"&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;},&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">&amp;nbsp;&amp;nbsp;{&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"name": "Software as a Service",&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"@type": "CategoryRef"&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">&amp;nbsp;&amp;nbsp;}&lt;/span>&lt;/p>&lt;p class="ql-indent-3">&lt;span style="font-size: 12px;">&amp;nbsp;],&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 12px;">&amp;nbsp;"@type": "Category"&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 12px;">}&lt;/span>&lt;/p></fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Catalog_0_0</name>
        <label>Product Catalog</label>
        <locationX>350</locationX>
        <locationY>1370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Product_Catalog_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Catalog_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductSpecificationImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ProductSpecification</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>600</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Catalog_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateCatalog_0_0</name>
                    <fieldText>&lt;p>&lt;strong style="font-size: 16px;">Sample Payload to create Product Specification&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>{&lt;/p>&lt;p>"description": "Powerful product that integrates with a firewall, including intrusion prevention, advanced malware protection, cloud-based sandboxing, URL filtering, endpoint protection, web gateway, email security, network traffic analysis, network access control and CASB.",&lt;/p>&lt;p>"name": "Cisco Firepower1",&lt;/p>&lt;p>“targetProductSchema” : {&lt;/p>&lt;p class="ql-indent-4">“@type”: “Business Internet Object Type”&lt;/p>&lt;p class="ql-indent-4">},&lt;/p>&lt;p>"productNumber": "CSC-340-NGFW",&lt;/p>&lt;p>"lifecycleStatus": "Active",&lt;/p>&lt;p>"validFor": {&lt;/p>&lt;p class="ql-indent-2">"startDateTime": "2020-09-23T00:00:00.0Z",&lt;/p>&lt;p class="ql-indent-2">"endDateTime": "2022-11-24T16:42:23.0Z"&lt;/p>&lt;p class="ql-indent-2">},&lt;/p>&lt;p>"version": "2.0",&lt;/p>&lt;p>"isBundle": true,&lt;/p>&lt;p>"productSpecCharacteristic": [&lt;/p>&lt;p class="ql-indent-5">{&lt;/p>&lt;p class="ql-indent-5">"name": "Number of Ports",&lt;/p>&lt;p class="ql-indent-5">"description": "The total Number of Ports for this parts",&lt;/p>&lt;p class="ql-indent-5">"valueType": "number",&lt;/p>&lt;p class="ql-indent-5">"configurable": true,&lt;/p>&lt;p class="ql-indent-5">"minCardinality": 1,&lt;/p>&lt;p class="ql-indent-5">"maxCardinality": 1,&lt;/p>&lt;p class="ql-indent-5">"isUnique": true,&lt;/p>&lt;p class="ql-indent-5">"@type": "ProductSpecificationCharacteristic",&lt;/p>&lt;p class="ql-indent-5">"@baseType": "",&lt;/p>&lt;p class="ql-indent-5">"productSpecCharacteristicValue": [&lt;/p>&lt;p class="ql-indent-8">{&lt;/p>&lt;p class="ql-indent-8">"isDefault": true,&lt;/p>&lt;p class="ql-indent-8">"valueType": "number",&lt;/p>&lt;p class="ql-indent-8">"validFor": {&lt;/p>&lt;p class="ql-indent-8">"startDateTime": "2020-09-23T00:00:00Z",&lt;/p>&lt;p class="ql-indent-8">"endDateTime": "2024-11-24T00:00:00Z"&lt;/p>&lt;p class="ql-indent-8">},&lt;/p>&lt;p class="ql-indent-8">"value": 8&lt;/p>&lt;p class="ql-indent-8">}]&lt;/p>&lt;p class="ql-indent-5">}&lt;/p>&lt;p class="ql-indent-4">],&lt;/p>&lt;p>"attachment": [&lt;/p>&lt;p class="ql-indent-3">{&lt;/p>&lt;p class="ql-indent-3">"name": "Product Picture",&lt;/p>&lt;p class="ql-indent-3">"url": "https://www.cisco.com/c/en/us/solutions/small-business/security/firewalls.html",&lt;/p>&lt;p class="ql-indent-3">"mimeType": "image/jpeg",&lt;/p>&lt;p class="ql-indent-3">"@referredType": "Attachment",&lt;/p>&lt;p class="ql-indent-3">"@type": "AttachmentRefOrValue",&lt;/p>&lt;p class="ql-indent-3">"@baseType": ""&lt;/p>&lt;p class="ql-indent-3">}&lt;/p>&lt;p class="ql-indent-3">]&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>}&lt;/p></fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Catalog_0_0_0</name>
        <label>Product Catalog</label>
        <locationX>736</locationX>
        <locationY>1482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Product_Catalog_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Product_Catalog_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductSpecificationImage_0</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ProductOffer1</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>displayImagePO2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ProductOffer2</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>displayImagePO3</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ProductOffer3</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Product_Catalog_0_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateCatalog_0_0_0</name>
                    <fieldText>&lt;p>&lt;strong style="font-size: 16px;">Sample Payload to create Product Offering&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>{&lt;/p>&lt;p>&lt;span style="background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');">"name": “Airtel Wifi Router",&lt;/span>&lt;/p>&lt;p>"description": “Airtel Wifi Router with 1000Mbps Bandwidth",&lt;/p>&lt;p>"isSellable": "true",&lt;/p>&lt;p>"isBundle": "false",&lt;/p>&lt;p>"productNumber": “Airtel_Wifi_Router",&lt;/p>&lt;p>"productOfferingPrice":{&lt;/p>&lt;p class="ql-indent-4">						"name": "Airtel WiFi Router PriceList Entry",&lt;/p>&lt;p class="ql-indent-4">						"description": "Recurring Monthly Price for Router",&lt;/p>&lt;p class="ql-indent-4">						"isBundle" : "true",&lt;/p>&lt;p class="ql-indent-4">						"price": {&lt;/p>&lt;p class="ql-indent-5">&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;							"taxIncludedAmount": {&lt;/p>&lt;p class="ql-indent-8">&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;				"value": 30,&lt;/p>&lt;p class="ql-indent-8">&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;				"unit": "USD"&lt;/p>&lt;p class="ql-indent-8">&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;					}&lt;/p>&lt;p class="ql-indent-5">&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;						&amp;nbsp;&amp;nbsp;},&lt;/p>&lt;p class="ql-indent-4">						"priceType": "Recurring",&lt;/p>&lt;p class="ql-indent-4">&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"recurringChargePeriod": "Monthly",&lt;/p>&lt;p class="ql-indent-4">						"lifecycleStatus" :"Active",&lt;/p>&lt;p class="ql-indent-4">						"validFor": {&lt;/p>&lt;p class="ql-indent-4">									“startDateTime": "2022-08-25T00:00:00Z",&lt;/p>&lt;p class="ql-indent-4">									“endDateTime": "2024-05-23T00:00:00Z"&lt;/p>&lt;p class="ql-indent-4">		&amp;nbsp;&amp;nbsp;						&amp;nbsp;}&lt;/p>&lt;p class="ql-indent-4">					},&lt;/p>&lt;p>"productSpecification": {&lt;/p>&lt;p class="ql-indent-4">"id": "dbd23067-bc2d-562c-08b6-7fa7d6032042"&lt;/p>&lt;p class="ql-indent-4">},&lt;/p>&lt;p>"attachment": [&lt;/p>&lt;p class="ql-indent-3">{&lt;/p>&lt;p class="ql-indent-3">"description": "This attachment gives a block diagram of the firewall.",&lt;/p>&lt;p class="ql-indent-3">"mimeType": "image/jpeg",&lt;/p>&lt;p class="ql-indent-3">"url": "https://m.media-amazon.com/images/I/41Q04ArdEuL._SL1000_.jpg"&lt;/p>&lt;p class="ql-indent-3">}],&lt;/p>&lt;p>"category" : [&lt;/p>&lt;p class="ql-indent-2">{&lt;/p>&lt;p class="ql-indent-2">"id" : "8ad6f687-56aa-9ccd-bbc3-5f01214018d2" ,&lt;/p>&lt;p class="ql-indent-2">"name" : "Cloud Storage"&lt;/p>&lt;p class="ql-indent-2">}&lt;/p>&lt;p class="ql-indent-2">],&lt;/p>&lt;p>"version": "1.0 ",&lt;/p>&lt;p>"lifecycleStatus": "Active",&lt;/p>&lt;p>"validFor": {&lt;/p>&lt;p class="ql-indent-2">"endDateTime": "2022-08-25T00:00:00Z",&lt;/p>&lt;p class="ql-indent-2">"startDateTime": "2022-05-23T00:00:00Z"&lt;/p>&lt;p class="ql-indent-2">}&lt;/p>&lt;p>&lt;span style="background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');">}&lt;/span>&lt;/p>&lt;p>&lt;br>&lt;/p></fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sceGetTroubleTicket</name>
        <label>sceGetTroubleTicket</label>
        <locationX>1256</locationX>
        <locationY>621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtGetAllTickets</name>
            <fieldText>&lt;p>&lt;span style="font-size: 16px;">To get the details of a ticket (cases) use the following URL- &lt;/span>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-size: 16px;">/services/apexrest/vlocity_cmt/tmforum/troubleticket/v57.0/troubleticket/{ID}&lt;/span>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-size: 16px;">where ID is "casenumber" field in the Case Object.&lt;/span>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_getallproduct_637</name>
        <label>scr_getallproduct_637</label>
        <locationX>1417</locationX>
        <locationY>1169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxt_getallproducts_637</name>
            <fieldText>&lt;p>&lt;strong>Resource URL-&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>Use the below URL to retrieve detail of all assets&lt;/p>&lt;p>/services/apexrest/vlocity_cmt/tmforum/productopenapi/v1/product?fields=name,isBundle,isCustomerVisible&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;br>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_getaproduct_637</name>
        <label>scr_getaproduct_637</label>
        <locationX>1424</locationX>
        <locationY>1002</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scr_getaproduct_637_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_getaproduct_637_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxt_getaproduct_sample</name>
                    <fieldText>&lt;p>&lt;strong>Resource URL-&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>Use the below URL to retrieve detail about a specific asset&lt;/p>&lt;p>/services/apexrest/vlocity_cmt/tmforum/productopenapi/v1/product/&amp;lt;vlocity_cmt__AssetReferenceId__c&amp;gt;&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>where &lt;strong style="color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);">&lt;em>vlocity_cmt__AssetReferenceId__c&lt;/em>&lt;/strong>&lt;em style="color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);"> &lt;/em>&lt;span style="color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);">is an attribute in the asset entity.&lt;/span>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;strong>Sample Request-&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);">/services/apexrest/vlocity_cmt/tmforum/productopenapi/v1/product/a2af2a93-c5c8-e577-0a6e-51c72273e106&lt;/span>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;strong>Sample Response-&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>{&lt;/p>&lt;p>&amp;nbsp;"productCharacteristic": [&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"valueType": "Picklist",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"name": "ATT_RT_GR"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;],&lt;/p>&lt;p>&amp;nbsp;"productPrice": [&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"name": "a2l1Q000002jKwr",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"description": "$74.99",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"price": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"taxIncludedAmount": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"value": 74.99,&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"unit": "USD"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;},&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"unitOfMeasure": "USD",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"priceType": "One-time"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;],&lt;/p>&lt;p>&amp;nbsp;"relatedParty": [&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"name": "Stardust Enterprises",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"id": "012345678",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"@referredType": "Account"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;],&lt;/p>&lt;p>&amp;nbsp;"href": "/services/apexrest/vlocity_cmt/tmforum/productopenapi/v1/product/a2af2a93-c5c8-e577-0a6e-51c72273e106",&lt;/p>&lt;p>&amp;nbsp;"billingAccount": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;"name": "Stardust Enterprises",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;"id": "012345678"&lt;/p>&lt;p>&amp;nbsp;},&lt;/p>&lt;p>&amp;nbsp;"status": "Active",&lt;/p>&lt;p>&amp;nbsp;"name": "Home Hub Modem",&lt;/p>&lt;p>&amp;nbsp;"id": "a2af2a93-c5c8-e577-0a6e-51c72273e106",&lt;/p>&lt;p>&amp;nbsp;"productOrderItem": [&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"orderItemId": "0000000488",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"orderItemAction": "Add",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"productOrderId": "00000360"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;],&lt;/p>&lt;p>&amp;nbsp;"orderDate": "2023-12-27",&lt;/p>&lt;p>&amp;nbsp;"productOffering": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;"name": "Home Hub Modem",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;"id": "01t1Q0000099s1yQAA"&lt;/p>&lt;p>&amp;nbsp;},&lt;/p>&lt;p>&amp;nbsp;"isCustomerVisible": true,&lt;/p>&lt;p>&amp;nbsp;"isBundle": "false"&lt;/p>&lt;p>}&lt;/p></fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCreateCustomer</name>
        <label>scrCreateCustomer</label>
        <locationX>54</locationX>
        <locationY>670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtCreateCustomer</name>
            <fieldText>&lt;p>&lt;strong style="font-size: 16px;">Sample request to create an Account&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>{&lt;/p>&lt;p>&amp;nbsp;"name": "Sample Account TMF629",&lt;/p>&lt;p>&amp;nbsp;"engagedParty":&amp;nbsp;&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"name": "Sean Forbes"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;},&lt;/p>&lt;p>&amp;nbsp;"account": [&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"id": "0011Q00002aSB9QQAW",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"name": "Acme"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;],&lt;/p>&lt;p>&amp;nbsp;"contactMedium": [&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"mediumType": "Phone",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"characteristic": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"phoneNumber": "(555) 555-1234"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;},&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"mediumType": "Fax",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"characteristic": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"faxNumber": "(555) 123-4567"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;},&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"mediumType": "Email",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"characteristic": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"emailAddress": "kevin.jarper@salesforce.com"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;]&lt;/p>&lt;p>}&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCreateQuote</name>
        <label>scrCreateQuote</label>
        <locationX>125</locationX>
        <locationY>1278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scrCreateQuote_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCreateQuote_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dpImgCreateQuote</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CreateQuote1</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dpImgCreateQuote2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CreateQuote2</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrCreateQuote_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateQuoteSample</name>
                    <fieldText>&lt;p>{&lt;/p>&lt;p>&amp;nbsp;"description": "Sample Quote created from 648",&lt;/p>&lt;p>&amp;nbsp;"category": "New Customer",&lt;/p>&lt;p>&amp;nbsp;"contactMedium": [&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"mediumType": "Email",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"characteristic": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"contactType": "Email",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"emailAddress": "abc@salesforce.com"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;},&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"mediumType": "Phone",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"characteristic": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"contactType": "Phone",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"phoneNumber": "(990) 099-7788"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;},&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"mediumType": "Fax",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"characteristic": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"contactType": "Fax",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"faxNumber": "abc"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;],&lt;/p>&lt;p>&amp;nbsp;"relatedParty": [&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"id": "3263827",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"role": "Account",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"@referredType": "Account"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;},&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"id": "0031Q00002jWCYOQA4",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"role": "Contact",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"@referredType": "Contact"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;],&lt;/p>&lt;p>&amp;nbsp;"quoteItem": [&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"quantity": 1,&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"action": "add",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"productOffering": [&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"id": "a55e8ab4-57c9-cdfb-a3ee-455d5665a127",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"name": "TMF648 Product",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"@type": "Product2"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;]&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;]&lt;/p>&lt;p>}&lt;/p></fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCreateTroubleTicket</name>
        <label>scrCreateTroubleTicket</label>
        <locationX>1443</locationX>
        <locationY>828</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scrCreateTroubleTicket_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCreateTroubleTicket_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dpImage621CreateTicket</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CreateTroubleTicket</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>500</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrCreateTroubleTicket_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateTicket</name>
                    <fieldText>&lt;p>&lt;strong style="font-size: 16px;">Sample payload to create Trouble Ticket&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>{&lt;/p>&lt;p>"name": "Parent Case New created from TMF 621",&lt;/p>&lt;p>"status": "New",&lt;/p>&lt;p>"description": "new description testing",&lt;/p>&lt;p>"ticketType": "Problem",&lt;/p>&lt;p>"priority": "High",&lt;/p>&lt;p>"severity" : "Minor",&lt;/p>&lt;p>“Channel” : {&lt;/p>&lt;p>“Name” : “Phone”&lt;/p>&lt;p>},&lt;/p>&lt;p>"relatedParty": [&lt;/p>&lt;p class="ql-indent-3">{&lt;/p>&lt;p class="ql-indent-3">"id": "001Do00000DuNCvIAN",&lt;/p>&lt;p class="ql-indent-3">"name": "Acme",&lt;/p>&lt;p class="ql-indent-3">"@referredType" : "Account"&lt;/p>&lt;p class="ql-indent-3">},&lt;/p>&lt;p class="ql-indent-3">{&lt;/p>&lt;p class="ql-indent-3">"id": "003Do00000Gn3oCIAR",&lt;/p>&lt;p class="ql-indent-3">"name": "Leanne Tomlin",&lt;/p>&lt;p class="ql-indent-3">"@referredType" : "Contact"&lt;/p>&lt;p class="ql-indent-3">}&lt;/p>&lt;p class="ql-indent-3">],&lt;/p>&lt;p>"attachment": [&lt;/p>&lt;p class="ql-indent-3">{&lt;/p>&lt;p class="ql-indent-3">"description": "Scanned disputed bill",&lt;/p>&lt;p class="ql-indent-3">"mimeType": "image/png",&lt;/p>&lt;p class="ql-indent-3">"name": "March Bill",&lt;/p>&lt;p class="ql-indent-3">"url": "&lt;a href="https://mycsp.com:7070/docloader?docnum=3534555" rel="noopener noreferrer" target="_blank">https://mycsp.com:7070/docloader?docnum=3534555&lt;/a>",&lt;/p>&lt;p class="ql-indent-3">"content": "This is sample attachment in the parent case"&lt;/p>&lt;p class="ql-indent-3">}&lt;/p>&lt;p class="ql-indent-3">],&lt;/p>&lt;p>"note": [&lt;/p>&lt;p class="ql-indent-2">{&lt;/p>&lt;p class="ql-indent-2">"author": "Jack Smith",&lt;/p>&lt;p class="ql-indent-2">"date": "2019-05-31T07:34:45.968Z",&lt;/p>&lt;p class="ql-indent-2">"text": "This is quite important, please approach me as soon as possible",&lt;/p>&lt;p class="ql-indent-2">"@type": "Note"&lt;/p>&lt;p class="ql-indent-2">}&lt;/p>&lt;p class="ql-indent-2">]&lt;/p>&lt;p>}&lt;/p></fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCreateTroubleTicket_0</name>
        <label>scrCreateTroubleTicket</label>
        <locationX>50</locationX>
        <locationY>825</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scrCreateTroubleTicket_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCreateTroubleTicket_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dpImage621CreateTicket_0</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CreateTroubleTicket</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>500</stringValue>
                        </value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrCreateTroubleTicket_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dptxtCreateTicket_0</name>
                    <fieldText>&lt;p>&lt;strong style="font-size: 16px;">Sample payload to create Product Order&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>{&lt;/p>&lt;p>"name": "Parent Case New created from TMF 621",&lt;/p>&lt;p>"status": "New",&lt;/p>&lt;p>"description": "new description testing",&lt;/p>&lt;p>"ticketType": "Problem",&lt;/p>&lt;p>"priority": "High",&lt;/p>&lt;p>"severity" : "Minor",&lt;/p>&lt;p>“Channel” : {&lt;/p>&lt;p>“Name” : “Phone”&lt;/p>&lt;p>},&lt;/p>&lt;p>"relatedParty": [&lt;/p>&lt;p class="ql-indent-3">{&lt;/p>&lt;p class="ql-indent-3">"id": "001Do00000DuNCvIAN",&lt;/p>&lt;p class="ql-indent-3">"name": "Acme",&lt;/p>&lt;p class="ql-indent-3">"@referredType" : "Account"&lt;/p>&lt;p class="ql-indent-3">},&lt;/p>&lt;p class="ql-indent-3">{&lt;/p>&lt;p class="ql-indent-3">"id": "003Do00000Gn3oCIAR",&lt;/p>&lt;p class="ql-indent-3">"name": "Leanne Tomlin",&lt;/p>&lt;p class="ql-indent-3">"@referredType" : "Contact"&lt;/p>&lt;p class="ql-indent-3">}&lt;/p>&lt;p class="ql-indent-3">],&lt;/p>&lt;p>"attachment": [&lt;/p>&lt;p class="ql-indent-3">{&lt;/p>&lt;p class="ql-indent-3">"description": "Scanned disputed bill",&lt;/p>&lt;p class="ql-indent-3">"mimeType": "image/png",&lt;/p>&lt;p class="ql-indent-3">"name": "March Bill",&lt;/p>&lt;p class="ql-indent-3">"url": "&lt;a href="https://mycsp.com:7070/docloader?docnum=3534555" rel="noopener noreferrer" target="_blank">https://mycsp.com:7070/docloader?docnum=3534555&lt;/a>",&lt;/p>&lt;p class="ql-indent-3">"content": "This is sample attachment in the parent case"&lt;/p>&lt;p class="ql-indent-3">}&lt;/p>&lt;p class="ql-indent-3">],&lt;/p>&lt;p>"note": [&lt;/p>&lt;p class="ql-indent-2">{&lt;/p>&lt;p class="ql-indent-2">"author": "Jack Smith",&lt;/p>&lt;p class="ql-indent-2">"date": "2019-05-31T07:34:45.968Z",&lt;/p>&lt;p class="ql-indent-2">"text": "This is quite important, please approach me as soon as possible",&lt;/p>&lt;p class="ql-indent-2">"@type": "Note"&lt;/p>&lt;p class="ql-indent-2">}&lt;/p>&lt;p class="ql-indent-2">]&lt;/p>&lt;p>}&lt;/p></fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrDeleteAccount</name>
        <label>scrDeleteAccount</label>
        <locationX>449</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtDeleteAccount</name>
            <fieldText>&lt;p>&lt;strong style="font-size: 14px;">Resource URL-&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">Use the below URL to delete account&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">/services/data/v60.0/connect/comms/customermanagement/v4/customer/{ID}&lt;/span>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">where ID is the record Id of the account entity.&lt;/span>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrGetAllQuotes</name>
        <label>scrGetAllQuotes</label>
        <locationX>41</locationX>
        <locationY>1016</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtGetAllQuotes</name>
            <fieldText>&lt;p>&lt;strong>Resource URL-&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>Use the below URL to retrieve detail of all quotes&lt;/p>&lt;p>/services/apexrest/vlocity_cmt/tmforum/quotemanagement/v1/quote/&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrGetAllTickets</name>
        <label>scrGetAllTickets</label>
        <locationX>1436</locationX>
        <locationY>714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtGetaTicket</name>
            <fieldText>&lt;p>&lt;span style="font-size: 16px;">To get the list of all the tickets (cases) use the following URL- &lt;/span>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-size: 16px;">/services/apexrest/vlocity_cmt/tmforum/troubleticket/v57.0/troubleticket/&lt;/span>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrGetAQuote</name>
        <label>scrGetAQuote</label>
        <locationX>36</locationX>
        <locationY>1141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtGetAQuote</name>
            <fieldText>&lt;p>&lt;strong>Resource URL-&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>Use the below URL to retrieve detail of a quote&lt;/p>&lt;p>/services/apexrest/vlocity_cmt/tmforum/quotemanagement/v1/quote/{ID}&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>where ID&lt;em style="background-color: rgb(255, 255, 255);"> &lt;/em>&lt;span style="background-color: rgb(255, 255, 255);">is an QuoteNumber in the quote entity.&lt;/span>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;strong>Sample Request-&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);">/services/apexrest/vlocity_cmt/tmforum/quotemanagement/v1/quote/00000048&lt;/span>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;strong>Sample Response-&lt;/strong>&lt;/p>&lt;p>{&lt;/p>&lt;p>&amp;nbsp;"quoteTotalPrice": [&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"price": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"taxIncludedAmount": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"value": 0,&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"unit": "$"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;},&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"priceType": "Recurring"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;},&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"price": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"taxIncludedAmount": {&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"value": 0,&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;"unit": "$"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;},&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"priceType": "One-time"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;],&lt;/p>&lt;p>&amp;nbsp;"relatedParty": [&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;{&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"role": "Account",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"name": "Acme",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"id": "3263827",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"href": "/services/apexrest/vlocity_cmt/tmforum/quotemanagement/v48.0/Account/3263827",&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;&amp;nbsp;"@referredType": "Account"&lt;/p>&lt;p>&amp;nbsp;&amp;nbsp;}&lt;/p>&lt;p>&amp;nbsp;],&lt;/p>&lt;p>&amp;nbsp;"version": "V1",&lt;/p>&lt;p>&amp;nbsp;"href": "/services/apexrest/vlocity_cmt/tmforum/quotemanagement/v48.0/quote/00000048",&lt;/p>&lt;p>&amp;nbsp;"state": "Draft",&lt;/p>&lt;p>&amp;nbsp;"quoteDate": "2023-12-29T07:31:36.000+0000",&lt;/p>&lt;p>&amp;nbsp;"id": "00000048"&lt;/p>&lt;p>}&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrGetCustomers</name>
        <label>scrGetCustomers</label>
        <locationX>49</locationX>
        <locationY>532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtGetCustomers</name>
            <fieldText>&lt;p>&lt;strong style="font-size: 14px;">Resource URL-&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">Use the below URL to retrieve detail of all accounts&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">/services/data/v60.0/connect/comms/customermanagement/v4/customer/&lt;/span>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrRetrieveAccount</name>
        <label>scrRetrieveAccount</label>
        <locationX>49</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dptxtRetrieveAccount</name>
            <fieldText>&lt;p>&lt;strong style="font-size: 14px;">Resource URL&lt;/strong>&lt;/p>&lt;p>&lt;strong style="font-size: 14px;">﻿&lt;/strong>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">/services/data/v60.0/connect/comms/customermanagement/v4/customer/{ID}&lt;/span>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">where ID is record id of the account entity.&lt;/span>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;strong>Sample Response:&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">{&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;"id" : "0011Q00002cGKf1QAG",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;"href" : "/connect/comms/customermanagement/v4/customer/0011Q00002cGKf1QAG",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;"@type" : "Customer",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;"name" : "Sample Account TMF629",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;"account" : [ {&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"id" : "0011Q00002aSB9QQAW",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"href" : "/services/data/v60.0/sobjects/account/0011Q00002aSB9QQAW",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"name" : "Acme",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"referredType" : "Service",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"description" : null&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;} ],&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;"engagedParty" : {&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"id" : "0031Q00002kVYTmQAO",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"href" : "/services/data/v60.0/sobjects/contact/0031Q00002kVYTmQAO",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"name" : "Sean Forbes",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"role" : "Individual"&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;},&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;"contactMedium" : [ {&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"mediumType" : "Email",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"characteristic" : {&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"contactType" : "Email",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"emailAddress" : "kevin.jarper@salesforce.com",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"faxNumber" : null,&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"phoneNumber" : null&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;}&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;}, {&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"mediumType" : "Fax",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"characteristic" : {&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"contactType" : "Fax",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"emailAddress" : null,&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"faxNumber" : "(555) 123-4567",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"phoneNumber" : null&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;}&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;}, {&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"mediumType" : "Phone",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;"characteristic" : {&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"contactType" : "Phone",&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"emailAddress" : null,&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"faxNumber" : null,&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;&amp;nbsp;"phoneNumber" : "(555) 555-1234"&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;&amp;nbsp;}&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">&amp;nbsp;} ]&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">}&lt;/span>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrTMF620</name>
        <label>scrTMF620</label>
        <locationX>736</locationX>
        <locationY>1030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_User_Selection</targetReference>
        </connector>
        <fields>
            <name>dptxtTMFPayload</name>
            <fieldText>&lt;p>&lt;strong style="font-size: 18px;">TMF 620 Product Catalog API&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-family: &amp;quot;Salesforce Sans&amp;quot;, system-ui, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; font-size: 14px;">Use the TMF620 Product Catalog Management Industry API to provide and manage a catalog of products. You can create a product catalog, add product offerings and specifications, and quote a price for each product offering.&lt;/span>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_your_option</name>
            <choiceReferences>CreateProductCatalog</choiceReferences>
            <choiceReferences>CreateProductCategory</choiceReferences>
            <choiceReferences>CreateProductOffering</choiceReferences>
            <choiceReferences>CreateProductSpecification</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select your option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrTMF621</name>
        <label>scrTMF621</label>
        <locationX>985</locationX>
        <locationY>829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_your_selection_621</targetReference>
        </connector>
        <fields>
            <name>dptxtTMFPayload_0</name>
            <fieldText>&lt;p>&lt;strong style="font-size: 18px;">TMF 621 Trouble Ticket Management API&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, system-ui, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;;">The Trouble Ticket Management API provides a standardised client interface to Trouble Ticket Management Systems. The data exchange is compliant with the TM Forum's Open API specification&lt;/span>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_your_Option621</name>
            <choiceReferences>chListallTroubleTickets</choiceReferences>
            <choiceReferences>chRetrieveTroubleTicket</choiceReferences>
            <choiceReferences>chCreateTroubleTicketNew</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select your Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrTMF622</name>
        <label>scrTMF622</label>
        <locationX>459</locationX>
        <locationY>829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_User_Selection_TMF_622</targetReference>
        </connector>
        <fields>
            <name>dptxtTMFPayload_0_0</name>
            <fieldText>&lt;p>&lt;strong style="font-size: 18px;">TMF 622 Product Ordering API&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, system-ui, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;;">Use the Product Ordering API to provide and manage products. The data exchange is compliant with the TM Forum's Open API specification.&lt;/span>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_your_option622</name>
            <choiceReferences>chListallProductOrders</choiceReferences>
            <choiceReferences>chGetProductOrder</choiceReferences>
            <choiceReferences>chCreateProductOrder</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select your option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrTMF629</name>
        <label>scrTMF629</label>
        <locationX>451</locationX>
        <locationY>660</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_your_selection629</targetReference>
        </connector>
        <fields>
            <name>dptxtTMF629</name>
            <fieldText>&lt;p>&lt;strong style="font-size: 18px;">TMF 629 Customer Management API&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, system-ui, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;; background-color: rgb(255, 255, 255);">The customer management API (TMF 629) provides a standardised mechanism for customer and customer account management, such as creation, update, retrieval and deletion of customers.&lt;/span>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_your_option629</name>
            <choiceReferences>ListCustomers</choiceReferences>
            <choiceReferences>CreateCustomer</choiceReferences>
            <choiceReferences>RetrieveCustomer</choiceReferences>
            <choiceReferences>DeleteCustomer</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select your option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrTMF637</name>
        <label>scrTMF637</label>
        <locationX>983</locationX>
        <locationY>1016</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_your_selection_637</targetReference>
        </connector>
        <fields>
            <name>dptxtTMF637Intro</name>
            <fieldText>&lt;p>&lt;strong style="font-size: 18px;">TMF 637 Product Inventory Management API&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;">The Product Inventory Management API provides a standardised mechanism for product inventory management such as retrieval of the representation of a product or list of all products in the inventory. &lt;/span>&lt;span style="color: rgb(0, 0, 0); font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, system-ui, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Arial, &amp;quot;Noto Sans&amp;quot;, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;, &amp;quot;Noto Color Emoji&amp;quot;;">The data exchange is compliant with the TM Forum's Open API specification&lt;/span>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_your_option637</name>
            <choiceReferences>getaproduct_637</choiceReferences>
            <choiceReferences>getallproducts_637</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>getaproduct_637</defaultSelectedChoiceReference>
            <fieldText>Select your option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrTMF648</name>
        <label>scrTMF648</label>
        <locationX>457</locationX>
        <locationY>1023</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_your_selection_648</targetReference>
        </connector>
        <fields>
            <name>dptxt648</name>
            <fieldText>&lt;p>&lt;strong style="font-size: 18px;">TMF 648 Customer Quote Management API&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">Use the Quote Management API to create a customer quote as well as to retrieve a customer quote depending on filter criteria.&lt;/span>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_your_Option648</name>
            <choiceReferences>ListQuotes</choiceReferences>
            <choiceReferences>GetQuote</choiceReferences>
            <choiceReferences>CreateQuote</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select your Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrUpdateAccount</name>
        <label>scrUpdateAccount</label>
        <locationX>261</locationX>
        <locationY>302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Inbound_API</name>
        <label>Select Inbound API</label>
        <locationX>737</locationX>
        <locationY>666</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selection_of_Inbound_API</targetReference>
        </connector>
        <fields>
            <name>dptxtSelectOption</name>
            <fieldText>&lt;p>&lt;strong style="font-size: 18px;">TMF Inbound APIs&lt;/strong>&lt;/p>&lt;p>&lt;br>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">This is an easy way especially designed for our users to quickly understand the TMF Inbound API.&lt;/span>&lt;/p>&lt;p>&lt;span style="font-size: 14px;">In this journey we will ask you to select the specific variation of the API and showcase the record that gets created in the org with a sample example.&lt;/span>&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>rdbtnInboundSelection</name>
            <choiceReferences>TMF620</choiceReferences>
            <choiceReferences>TMF621</choiceReferences>
            <choiceReferences>TMF622</choiceReferences>
            <choiceReferences>TMF637</choiceReferences>
            <choiceReferences>TMF648</choiceReferences>
            <choiceReferences>TMF629</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select the API</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>610</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Content_Document</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>